@font-face {
    font-family: 'UDDigiKyokashoN-R';
    src: url('font/UDDigiKyokashoN-R.ttc') format("truetype");
}
html,
body {
   font-family : "UDDigiKyokashoN-R";
   height: 100%;
   width: 100%;
   max-width: 100%;
   margin: 0px;
}
/*ヘッダー*/
header {
	background: #000000;
}
.header-container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px 10px 20px;
}
.header-logo {
	margin: 0;
	width: 182.5px;
	height: 85px;
	background: url(image/icon_w.png) no-repeat;
	background-size: 182.5px 85px;
	text-indent: -9999px;
}
/* ナビゲーション */
nav {
	background: #000000;
}
.nav-container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px 0 20px;
}
.globalnav {
	display: flex;
	flex-flow: row;
	margin: 0;
	padding: 0;
	list-style: none;
}
.globalnav li {
	flex: 0 0 20%;	
}
.globalnav li a {
	display: block;
	padding: 10px 0;
	border-bottom: 8px solid #ffffff;
	text-decoration: none;
	text-align: center;
	line-height: 100%;
	color: #ffffff;
}
.globalnav li a:hover,
.globalnav li a.current {
	border-bottom: 8px solid #7bae34;
	color: #7bae34;
}
@media screen and (max-width: 620px) {
    nav {
        display: none;
    }
}
h1 {
	padding: 20px;
	border-top: 5px solid #2097b6;
	border-bottom: 1px dashed #999;
	text-align: center;
    font-family : "UDDigiKyokashoN-R";
    font-size: 35px;
}
h2 {
	padding-left: 10px;
	border-left: 8px solid #2097b6;
    font-family : "UDDigiKyokashoN-R";
    font-size: 30px;
	
}
h3 {
	padding: 10px;
	border-top: 1px dotted #2097b6;
	border-left: 3px solid #2097b6;
	color: #2097b6;
    font-family : "UDDigiKyokashoN-R";
    font-size: 25px;
}