<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes
AuthUserFile .htpasswd
AuthGroupFile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user 
ErrorDocument 404 404.html
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www\.sousuke-m\.github\.io/event)(:80)? [NC]
RewriteRule ^(.*) https://sousuke-m.github.io/event/$1 [R=301,L]
order deny,allow